<div class="container">
  <div class="user-details">
    <h3> My Expertise </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user-skills">
      <h4>Backend</h4>
      <i class="devicon-ruby-plain-wordmark colored"></i>
      <i class="devicon-rails-plain-wordmark colored"></i>
      <i class="devicon-postgresql-plain-wordmark colored"></i>
      <i class="devicon-redis-plain-wordmark colored"></i>
      <img src="/assets/img/sidekiq.png"/>
      <i class="devicon-heroku-plain-wordmark colored"></i>
      <i class="devicon-nginx-plain colored"></i>
      <p>{{site.data.expertise.backend}}</p>

      <h4>Frontend</h4>
      <i class="devicon-html5-plain-wordmark colored"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-jquery-plain-wordmark colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <p>{{site.data.expertise.frontend}}</p>

      <h4>Tools</h4>
      <img src="/assets/img/linux.svg"/>
      <i class="devicon-vim-plain colored"></i>
      <i class="devicon-git-plain-wordmark colored"></i>
      <img src="/assets/img/mqtt.png"/>
      <img src="/assets/img/rspec.png"/>
      <img src="/assets/img/jira.jpg"/>
      <p>{{site.data.expertise.tools}}</p>
  </div>
</div>
