<div class="container">
  <div class="user-details">
    <h3> My Expertise </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Backend</h4>
      <i class="devicon-ruby-plain-wordmark colored"></i>
      <i class="devicon-rails-plain-wordmark colored"></i>
      <i class="devicon-postgresql-plain-wordmark colored"></i>
      <i class="devicon-redis-plain-wordmark colored"></i>
      <img src="/assets/img/sidekiq.png"/>
      <i class="devicon-heroku-plain-wordmark colored"></i>
      <i class="devicon-nginx-plain colored"></i>
      <p>I've been working with Ruby for about 4 years. I've written many Rails applications but also have experience with other lighter frameworks such as Grape, Sinatra and Cuba.
      I've used Redis for caching data and also supporting job queue frameworks as Resque or Sidekiq.
      My testing framework of choice is RSpec for most cases, althought for small projects MiniTest will do the job.</p>
    </div>
    <div class="four columns">
      <h4>Frontend</h4>
      <i class="devicon-html5-plain-wordmark colored"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-jquery-plain-wordmark colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <img src="/assets/img/linux.svg"/>
      <i class="devicon-vim-plain colored"></i>
      <i class="devicon-git-plain-wordmark colored"></i>
      <img src="/assets/img/mqtt.png"/>
      <img src="/assets/img/rspec.png"/>
      <img src="/assets/img/jira.jpg"/>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
  </div>
</div>
