<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  {% for project in site.data.projects %}
    <div class="row user-projects">
      <div class="six columns images">
        <img alt="mountains" src="{{ project.image | prepend: site.baseurl }}" />
      </div>
      <div class="six columns">
        <h5> {{ project.name }} </h5>
        {% for skill in project.skills %}
          <li>{{ skill }}</li>
        {% endfor %}
        <p>{{ project.description }}</p>
        <a class="project-link" target="_blank" href="{{ project.url }}">Check it out</a>
      </div>
    </div>
  {% endfor %}
</div>
