<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  {% for project in site.data.projects %}
    <div class="row user-projects">
      <div class="six columns">
        <img alt="mountains" src="{{ project.image | prepend: site.baseurl }}" />
      </div>
      <div class="six columns">
        <a target="_blank" href="{{ project.url }}">
          <h5>{{ project.name }}</h5>
        </a>
        <div class="role">{{ project.role }}</div>
        <p>{{ project.description }}</p>
      </div>
    </div>
  {% endfor %}
</div>
